@charset "UTF-8";

main{
    text-align: justify;
    font-size: 24px;
    max-width: 90%;
    max-height: 90%;
    margin: 0px auto 20px;
    background-color: var(--cor5);
    padding: 20px;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.336);
}

.produto{
    background-color: gray;
    width: 25%;
    height: 0; /* A mágica está aqui */
    padding-bottom: 25%; /* ... e está aqui */
    margin:  1%;
    text-align: center;
    display: inline-block;
}

.centraliza{
    text-align: center;
}


img{
    margin: 15px auto 2px auto;
    display: block;
    max-width: 60%;
}