@charset "UTF-8";
@font-face {
    font-family: hacked;
    src: url(fontes/Hacked\ CRT.ttf) format('truetype');
}

@font-face {
    font-family: pils;
    src: url(fontes/Positive\ System.otf) format('opentype');
}

:root {
    --cor1: #1E2535;
    --cor2: #243C58;
    --cor3: #486177;
    --cor4: #909A9C;
    --cor5: #E0E0D4;

    --font-titulo: 'pils', sans-serif;
    --font-subtítulo: 'hacked', sans-serif;
}

body{
    background-image: linear-gradient(to left, var(--cor1), var(--cor3));
    max-width: 100%;
    font-size: 2em;
    text-align: justify;
    text-align: center;
    color: #000000;
}


h1{
    font-family: var(--font-titulo);
    font-weight: bolder;
    font-size: 4em;
    text-align: justify;
    text-align: center;
}

h2{font-family: var(--font-subtítulo);}

.caixacomlista {
    padding: 10px;
    background-color: rgba(95, 158, 160, 0.589);
    border-radius: 1em;
    width: 800px;
    text-align: justify;
    text-align: center;
            }

.caixagrande {
    padding: 15px;
    background-color: rgba(95, 158, 160, 0.589);
    border-radius: 1em;
    width: 1600px;
    text-align: justify;
    text-align: center;
}

a   {
    color: rgba(11, 155, 124, 0.712);
    text-decoration: none;
    }

a:hover{
        color: black;
        text-decoration: underline;
        }

a:active{
    color: rgb(20, 43, 34);
}

a:visited{
    color: cornflowerblue;
}

nav{
    background-color: #909a9c56;
    margin: auto;
    width: 1200px;
    padding: 5px;
    border-radius: 10px;
}

.rodapezinho{
    margin: 10px;
    font-size: 16px;
    font-style: italic;
    font-weight: lighter;
}