@charset "UTF-8";

:root{
    --shorthand1: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;;
}

body{background-image: linear-gradient(to bottom,#F2E749
    60%,#473830);
    background-attachment: fixed;
    font-size: 25px; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;}

p{color: #ffffff;
    text-align: left;}

h1{
    color: rgba(240, 255, 240, 0.288); 
    border: black;
    font-size: 60px;
    font-family: var(--shorthand1);
    margin: 1px;}

main{
    margin: auto;
}


#divvideo {
    margin: auto;
    background-color: #ffffff00;
    max-width: 1000px;
}

.rolus{
    border-radius: 20px;
    padding: 10px;
    background-color: #ffffff60;
    width: 600px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.274);
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

a:hover{
    text-decoration: underline;
    text-shadow: 1px 1px 1px #ffffff38;
}

a:active{color: blue;}

.textopequeno{font-size: 16px;}