@charset "UTF-8";

body{background-image: linear-gradient(to bottom,#F0D400,#666246);
    background-attachment: fixed;
    font-size: 25px; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;text-align: center;}

h1{color: honeydew; 
    border: black;
    font-size: 80px;}