* {
    margin: 0px;
    padding: 0px;
}

body{
    background-color: aliceblue;
}

header{
    background-color: rgb(103, 26, 26);
    text-align: center;
    padding-top: 30px; padding-bottom: 30px;
    width: 100vw;
    font-family: 'Times New Roman', Times, serif;
}

main{
    max-width: 800px;
    margin: auto;
}

article{
    font-size: large;
    margin-top: 20px;
    margin-bottom: 10px;
}

h1{
    color: white;
}

h2 {
    margin-left: 20px;
    margin-bottom: 10px;
}

p {
    margin-left: 10px; margin-right: 10px;
    max-width: 800px;
    margin-bottom: 10px;
    text-align: justify;
}

h3 {
    margin-left: 40px;
    margin-bottom: 10px;   
}

.womans {
    opacity: 10%;
    position: relative;
    bottom: 1000px;
}

#w1{
    left: 150px;
}

#w2{
    left: -250px;
    max-width: 30vw;
    max-height: 50vh;
}

footer {
    background-color: rgb(103, 26, 26);
    min-height: 700px; position: relative;
    margin-top: -700px;
    text-align: center;
    color: aliceblue;
    font-family: cursive;
    padding-top: 20px;
}
